.modal {
    padding: 20px;
    border-radius: 5px;
    z-index: 1;
    max-height: 70vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    /* max-width: 60vh; */
    padding-right: 20px;
    /* Add padding to the right side for space */
    box-sizing: content-box;
}

.modal::-webkit-scrollbar {
    /* background-color: transparent; */
    width: 10px;
    /* border-right: 15px solid transparent; */
    /* margin-right: -10px; */
    /* padding: 100px; */
}

.modal::-webkit-scrollbar-track-piece {
    background-color: transparent;
    border-right: 15px solid transparent;
    margin: 20px;
}


.modal::-webkit-scrollbar-thumb {
    background-color: rgba(200, 100, 100);
    /* border-radius: 20px; */
    border: 30px solid transparent;

}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}