.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */
    width: 100%;
    height: 100%;
    /* margin: 51px 0px; */
    /* background-color: red; */
}

.home-container-inside {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    width: 650px;
    height: 600px;
    padding: 40px 10px;
    border-radius: 50px;
}

.home-buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@font-face {
    font-family: 'valorax';
    src: url('../../assets/fonts/VALORAX-LG25V.OTF') format('opentype')
}


.home-button {
    display: flex;
    justify-content: center;
    /* background-color: red; */
    width: 600px;
    height: 50px;
    align-items: center;
    padding: 0px 0px;
    margin: 40px 10px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 40px;
    /* font-weight: bold; */
    font-family: 'valorax';
    transition: font-size 0.1s ease;
}

.home-button:hover {
    text-align: center;
    padding: 0px 0px;
    margin: 40px 10px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 45px;
    /* font-weight: bold; */
}